# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# .idea
/.idea_modules/
.idea/
*.iml

########################
# Env 
########################

# Other local configs (so we don't leak the API keys :sob:
*.local.*
*.env
.env
.env.*
src/main/resources/credentials.json
tokens/StoredCredential
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties
.idea/misc.xml
# Gradle build output
/.gradle/
/build/
src/main/resources/credentials.json
/Blueprint Assignment  For Task_Habit Tracker.pdf
/src/main/resources/credentials.json
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
/settings.gradle.kts
/tokens/StoredCredential
/TODO.md

.gradle
*.xml
/.idea

/target/

credentials.json
/resources/credentials.json
.credentials.json
/.vscode/settings.json
misc.xml
tokens
StoredCredential
habits.csv
users.csv
users.csv
