name: Checkstyle

on:
  pull_request:
    branches:
      - '**'

jobs:
  checkstyle:
    name: Run Checkstyle on Changed Files
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: "17"
          distribution: "temurin"

      - name: Download Checkstyle
        run: |
          wget -O checkstyle.jar https://github.com/checkstyle/checkstyle/releases/download/checkstyle-10.12.4/checkstyle-10.12.4-all.jar

      - name: Get list of changed Java files
        id: changed_files
        run: |
          git fetch origin ${{ github.base_ref }}
          git diff --name-only origin/${{ github.base_ref }}...HEAD | grep '\.java$' > changed_java_files.txt || true

      - name: Run Checkstyle on changed files
        if: success() && (steps.changed_files.outputs.changed_files != '')
        run: |
          if [ -s changed_java_files.txt ]; then
            java -jar checkstyle.jar -c mystyle.xml $(cat changed_java_files.txt)
          else
            echo "No changed .java files to check."
          fi